@model IEnumerable<GestionDeTaller.Models.Repuestos>

@{
    ViewData["Title"] = "Listar";
}
<h1>Lista de Repuestos asociados</h1>
<p>
    <div>
        <a asp-action="ListarRepuestosSinMantenimiento" asp-route-Id_Mantenimiento="@ViewBag.Id_Mantenimiento" class="btn btn-outline-primary btn-sm">Asociar Repuesto</a>
        <a asp-action="Listar" asp-controller="CatalogoDeMantenimientos" asp-route-Id="@ViewBag.Id_Articulo" class="btn btn-outline-primary btn-sm">Regresar a la lista de mantenimientos</a>
        <br>
        <br>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#exampleModal">Desasociar</button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Desasociar repuesto</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    ¿Esta seguro de que quiere desasociar el repuesto @item.Nombre del mantenimiento @ViewBag.descripconDelMantenimiento?
                                </div>
                                <div class="modal-footer">
                                    <a asp-action="Desasociar" asp-route-Id_Repuesto="@item.Id" asp-route-Id_Mantenimiento="@ViewBag.Id_Mantenimiento"
                                       class="btn btn-outline-primary btn-sm">Desasociar Repuesto</a>
                                    <button type="button" class="btn btn-outline-primary btn-sm" data-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


