@model IEnumerable<GestionDeTaller.Models.Repuestos>

@{
    ViewData["Title"] = "Listar";
}

<h1>Lista de Repuestos asociados</h1>

<p>
    <div>
        <a asp-action="ListarRepuestosSinMantenimiento" asp-route-Id_Mantenimiento="@ViewBag.Id_Mantenimiento" class="btn btn-outline-primary btn-sm">Asociar Repuesto</a>

        <a asp-action="Listar" asp-controller="CatalogoDeMantenimientos" asp-route-Id="@ViewBag.Id_Articulo" class="btn btn-outline-primary btn-sm">Regresar a la lista de mantenimientos</a>

        <br>
        <br>
    </div>
  
    </p>
    <table class="table">
        <thead>
            <tr>

                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>

                    <td>
                        <a asp-action="DesasociarRepuesto" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Desasociar Repuesto</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
