@model IEnumerable<GestionDeTaller.UI.Models.ArticuloDetallado>

@{
    ViewData["Title"] = "DetallesDeArticulo";
}

<h1>DetallesDeArticulo</h1>


<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreDelRepuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioDelRepuesto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadDeOrdenesTerminadas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadDeOrdenesEnProceso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreDelRepuesto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrecioDelRepuesto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadDeOrdenesTerminadas)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CantidadDeOrdenesEnProceso)
                </td>

            </tr>

        }
        <div>
            <a asp-action="Listar">Regresar a la lista de artículos</a>
        </div>

    </tbody>
</table>
