@model GestionDeTaller.UI.Models.ArticuloDetallado

@{
    ViewData["Title"] = "DetallesDeArticulo";
}

<h1>DetallesDeArticulo</h1>

<div>
    <h4>ArticuloDetallado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadDeOrdenesTerminadas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadDeOrdenesTerminadas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadDeOrdenesEnProceso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadDeOrdenesEnProceso)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
