@model IEnumerable<GestionDeTaller.Models.Articulo>

@{
    ViewData["Title"] = "Listar";
}
<br />
<h1>Catalogo de artículos</h1>

<p>
    <a asp-action="AgregarArticulo">Agregar nuevo artículo</a>
</p>
<table class="table">
    <thead>
        <tr class="table-primary">
           
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                @Html.ActionLink("Detalles", "DetallesDeArticulo", new { id = item.Id }) |
                @Html.ActionLink("Detalles de Repuestos", "RepuestosAsociados", new { id = item.Id }) |
                @Html.ActionLink("Detalles de Mantenimientos", "DetalleMantenimientos", new { id = item.Id })
                

            </td>
        </tr>
}
    </tbody>
</table>
