@model IEnumerable<GestionDeTaller.Models.Articulo>

@{
    ViewData["Title"] = "Listar";
}
<br />
<h1>Catalogo de artículos</h1>

<p>
    <a asp-action="AgregarArticulo" class="btn btn-outline-primary" btn-sm">Agregar artículo nuevo </a>
</p>
<table class="table">
    <thead>
        <tr class="table-primary">

            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
          
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
               
              
                <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Editar</a>
                <a asp-action="DetallesDeArticulo"  asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Detalles</a>
                <a asp-action="Listar" asp-controller="CatalogoDeRepuestos" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Detalles de Repuestos</a>
                <a asp-action="Listar" asp-controller="CatalogoDeMantenimientos" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Detalles de Mantenimientoss</a>
            </td>
        </tr>
}
    </tbody>
</table>
