@model IEnumerable<GestionDeTaller.Models.Mantenimientos>

@{
    ViewData["Title"] = "Listar";
}

<h1>Lista de Mantenimientos</h1>
<br />
<p>
<p>
    <div>
        <a asp-action="AgregarMantenimiento" asp-route-Id_Articulo="@ViewBag.Id_Articulo" class="btn btn-outline-primary btn-sm">Agregar mantenimiento</a>

        <a asp-action="Listar" asp-controller="CatalogoDeArticulos" class="btn btn-outline-primary btn-sm">Regresar a la lista de articulos</a>
    </div>
</p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>

                    <a asp-action="Editar" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Editar</a>
                    <a asp-action="DetallesDeMantenimientos" asp-route-Id="@item.Id" class="btn btn-outline-primary btn-sm">Detalles</a>
                    <a asp-action="Listar" asp-controller="CatalogoDeRepuestosParaMantenimiento" asp-route-Id="@item.Id" class="btn btn-outline-primary btn-sm">Detalle de Repuestos Para Mantenimiento</a>


                </td>
            </tr>
        }
    </tbody>
</table>
