@model IEnumerable<GestionDeTaller.Models.OrdenesDeMantenimiento>

@{
    ViewData["Title"] = "Listar";
}

<h1>Ordenes de Mantenimiento Terminadas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreDelCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeFinalizacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiasEnProceso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiasTrabajados)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDelCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeIngreso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeFinalizacion)
            </td>
            <td>
                @Html.Label("", (item.DiasEnProceso = (int) (item.FechaDeInicio - item.FechaDeIngreso).GetValueOrDefault().TotalDays).ToString())
            </td>
            <td>
                @Html.Label("", (item.DiasTrabajados = (int) (item.FechaDeFinalizacion - item.FechaDeInicio).GetValueOrDefault().TotalDays).ToString())
            </td>
            <td>
                <a asp-action="Detalles" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Detalles</a>
            </td>
        </tr>
}
    </tbody>
</table>
