@model GestionDeTaller.Models.OrdenDetallada

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles de la orden</h1>
<br />
<div>
    <a asp-action="Listar" class="btn btn-outline-primary btn-sm">Regresar</a>
</div>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDelCliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreDelCliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescripcionDelProblema)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescripcionDelProblema)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDeIngreso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaDeIngreso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MontoDeAdelanto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MontoDeAdelanto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDeInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaDeInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDeFinalizacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaDeFinalizacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MotivoDeCancelacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MotivoDeCancelacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NombreArticulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NombreArticulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MarcaArticulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MarcaArticulo)
        </dd>
    </dl>
</div>

<div>
    <h4>Mantenimientos asociados a este Repuesto</h4>
    <hr />
    <br />
    @foreach (var item in Model.ListaDeMantenimientosAsociados)
    {
        <div class="card bg-secondary mb-3" style="max-width: 20rem;">
            <div class="card-header">  Mantenimiento asociado al artículo</div>
            <div class="card-body">
                <h4 class="card-title">Datos del mantenimiento</h4>
                <p class="card-text">
                    <h5>Descripción:</h5>
                    @item.Descripcion
                    <hr />
                    <h5>Costo Fijo</h5>
                    @item.CostoFijo
                    <h5>Costo de Repuestos</h5>
                    @item.CostoDeRepuestos
                </p>
            </div>
        </div>
        <br />
    }
</div>
