@model IEnumerable<GestionDeTaller.Models.OrdenesDeMantenimiento>

@{
    ViewData["Title"] = "Listar";
}

<h1>Ordenes de Mantenimiento en proceso</h1>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreDelCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeIngreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiasEnProceso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreDelCliente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaDeIngreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaDeInicio)
                </td>
                <td>
                    @Html.Label("", (item.DiasEnProceso = (int)(item.FechaDeInicio - item.FechaDeIngreso).GetValueOrDefault().TotalDays).ToString())
                </td>
                <td>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#exampleModal">Terminar</button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Desasociar repuesto</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Desea terminar el mantenimiento?
                                        </div>
                                        <div class="modal-footer">
                                            <a asp-action="Terminar" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Terminar</a>
                                            <button type="button" class="btn btn-outline-primary btn-sm" data-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            &nbsp
                            <a asp-action="Cancelar" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Cancelar</a>
                            &nbsp
                            <a asp-action="AgregarMantenimiento" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Agregar Mantenimientos</a>
                            &nbsp
                            <a asp-action="Detalles" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Detalles</a>
                            &nbsp
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
